body {
	background-color: #85c7f7;
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	
}

img {
	border: 0px;
}

div#logo {
	position: relative;
	top: 25px;	
}


#page_wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1500px;
		
}
     

.centered {
	width: 80%;
	margin: 0 10% 0 10%;
}

div#navigation {
	position: relative;
	color: #ffffff;
	font-weight: bold;
	font-family: Verdana;
	font-size: 0.9em;
	top: 70px;
}


div#product_promo {
	position: relative;
	top: 130px;
	height: 450px;
}

div#photo {
	position: relative;
	top: -60px;
	left: 170px;
	width: 300px;
	height: 300px;
	z-index: 1;
}

div#product_text_block
{
	position: absolute;
	left: 0px;
	top: 0px;
	margin-left: 550px;
	
}

div#product_name {
	font-family: Impact;
	font-size: 4em;
	color: #ffffff;
	margin-bottom: 15px;
}

div#product_desc {
	font-family: Verdana;
	font-size: 0.9em;
	color: #ffcc00;
}

div#product_select {
	position: relative;
	left: 0px;
	bottom: 0px;
	width: 100%;
	top: 70px;
	height: 100px;
	font-family: Verdana;
	font-size: 1em;
	color: #ffcc00;
}


div#content {
	position: relative;
	font-size: 1.3em;
	top: 170px;
	height: 800px;
	min-height: 800px;
	
}


.transparent_white {
 background: rgba(255, 255, 255, 0.5);
}

.transparent_black {
 background: rgba(0, 0, 0, 0.5);
}

.rounded {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.text_container {
	padding: 15px;
}

ul#horizontal_navigation {

	margin: 0px;
	padding: 0px;
}

ul#horizontal_navigation>li
{
	display: inline;
	line-height: 2em;
	padding-right: 20px;
	list-style: none;

	color: #ffcc00;
}

